.ticketTypeContainer {
  flex: 0.7;
  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0px 0px 1em lightgray;
  bottom: 20px;
  height: 100px;
  max-width: 400px;
  margin: 0 10px 0 10px;
}

.svgTypes {
  margin: 4% 0 0 6%;
}
