.weekDayCardContainer {
  flex: 1;
  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0px 0px 1em lightgray;
  bottom: 20px;
  height: 100px;
  width: 400px;
  margin: 0 15px 0 10px;
}

.chartsContainer1 {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}
