.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 10px;
  margin: 10px;
  /* border: 1px solid black; */
}

.selectbox {
  display: block;
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
}

.label {
  font-size: x-large;
  font-weight: 500;
  padding: 10px 0;
  /* border: 1px solid black; */
}

.nextButton {
  position: relative;
  left: 12%;
  padding: 5px 20px;
  border-radius: 5px;
}
