.navContainer {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
}

.selectBox {
  padding: 10px 5px 0 5px;
  margin: 0 10px;
  height: 100px;
  flex: 1;
}

.selectBox2 {
  padding: 10px 5px 0 5px;
  height: 100px;
  margin: 0 10px;
  flex: 2;
}

select {
  width: 100%;
}

label {
  font-size: small;
}
