.leftMenuContainer {
  position: absolute;
  width: 290px;
  left: 0;
  top: 50px;
  bottom: 2px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255) 80%
  );
}
